{% extends 'admin/base_site.html' %}
{% load common_tags template_design %} 

{% block title %}Downloads{% endblock %}

{% block pretitle_ %}
    <h1>Downloads</h1>
{% endblock %}
 

{% block content %} 
{% for x in version_list %}
    {% if x.current_version %}
    <h3>{{ x.category }}</h3>

        <table class="module full">
            <tbody>
                <tr>
                    <td>
                        <h3>
                            Latest version: 
                            <span style="font-size: 22px">  
                                {{ x.current_version.version_string }}
                            </span>
                        </h3>
                        <p style="padding-left: 10px">
                            Release date: 
                            <b>{{ x.current_version.release_date|date_time }}</b>
                        </p>
                    </td>
                    <td>
                        <br>
                        <a href="{{ x.current_version.get_download_url }}" 
                            target="_blank" 
                            class="button blacktext" 
                            style="padding: 6px 20px; font-size: 15px;">
                            <span class="fa fa-download"></span>
                            Download
                        </a>
                        <br><br>
                    </td>
                </tr>
            </tbody>
        </table>


        {% if x.other_qs %}
            {% list_display x.other_qs 'Others' '' %}
        {% endif %}

    <br><br>
    <hr>
    <br><br>
    {% endif %}

{% endfor %}
{% endblock %}